name: Lint GitHub Actions workflows

on: workflow_call

jobs:
  actionlint:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up actionlint
        id: setup_actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)

      - name: Lint
        run: ${{ steps.setup_actionlint.outputs.executable }} -color
